/* importo font da google */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');/*
	dichiaro, tramite "variabili" i codici dei colori di mio 
	interesse in modo che possano essere sempre utilizzabili 
	facilmente e cambiati in pochi click.
	
	allo stesso modo potrei dichiarare altri valori, per es.
	font utilizzati spesso o altro...
	
*/

:root{
	--coloreuno: #3A1488; 	/* blu */
	--coloredue: #9ABF09; 	/* verde */
	--coloretre: #EEEEEE; 	/* grigio */
	--font: 'Zilla Slab', serif;
}

/* azzero tutte le spaziature e i bordi di default del documento */ 
*{
	margin: 0;
	padding: 0;
	border: 0;
}



/* 
	definisco che le immagini occuperanno tutto lo spazio
	relativo all'elemento che lo contiene
*/

/* ----------------------------------------------------------------------- */

/*
	le regole di stile sono contenute dentro le graffe
	
	regole nomenclatura:
	
		> 	senza delimitatori quando riferite ad elementi standard
			del linguaggio (es. html, body, h1...)
			
		>	cominciano con . quando le associamo a più elementi nel
			documento 
			--> nell'html avrò class = "nome-regole-css"
			
		>	cominciano con # quando le associamo ad un unico elemento 
			nel documento 
			--> nell'html avrò id = "nome-regole-css" 
*/

body{ background: #f8f8f8; font-family: var(--font); }

h1, h2, h3, h4, h5, h6{ font-family: var(--font); }

p

	{
	font-family: var(--font);
	}

/* -------------------------------------------------------------------- */




/* -------------------------------------------------------------------- */


/* -------------------------------------------------------------------- */

#menutop{
	/* aggancio elementi a destra */
	float: right;
	margin-top: 30px;
}

	#menutop ul{
		/* tolgo i pallini dell'elenco */
		list-style: none;
		float: left;
	}
	
		#menutop ul li{
			padding: 14px 15px; /* sopra-sotto destra-sinistra */
			font-size: 25px;
			float: left;
		}

			#menutop ul li a{
				/* tolgo sottolineatura link */
				text-decoration: none;
				font-family: var(--font);
				color: var(--coloreuno);
			}

				#menutop ul li a:hover{
					color: var(--coloredue);
				}

/* ------------------------------------------------------------------- */

.custompad{
	padding-bottom:100px;
	padding-left:100px;
	padding-right:100px;
}

.imgcustom{
	width:100%;
}

.center {
	text-align:center;
  	margin: auto;
  	width: 100%;
  	padding: 5px;
  
}

.navbar-fontcolor{
	color:black;
}

.navbar-bgcolor{
	background: #FF5F6D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.carousel-height{
	height: 700px;
}

.textshow{
	text-align: center;
	margin-top: 30px;
}


.zoom {
  transition: transform .2s; /* Animation */
  
}


/* ------------------------------------------------------------------- */

.footercolor{
	
	background: #003973;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

	footer p{
		text-align: center;
	}
	
		footer a{
			color: #f9f9f9;
			text-decoration: none;
		}
		
			footer a:hover{
				color: var(--coloredue);
			}
	
/* ------------------------------------------------------------------- */

/* altezza del carousel nella index */
.w-100 {
    height: 50em;
}

/* ------------------------------------------------------------------- */
/* immagini dei prodotti nella scheda prodotti.jsp  */

.imgsize{
	height:200px;
	width:200px;	
}

.margin{
	margin:20px;
}

.whitecolor{
	background-color: white;
	padding:10px;
	
}

.inputwidth{
	width:300px;
	border: 2px solid;
	border-radius: 5px;
}

#loginheight{	
	height:550px;
}

.heightmax{
	height:100%
}

.myprofilelist{
	margin-top:10em;
}

.myprofilelist li{
	margin-top:10px;
	font-size:20px;
	text-decoration:none;	
}

.myprofilelist li a{
	text-decoration:none;
	color: black;	
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.conten {
  height: 200px;
  position: relative;
}


